body {
  min-height: 4000px;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 5.2em;
  color: white;
  margin-bottom: 15px;
}

h2 {
  color: white;
  font-size: 4.25em;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

h3 {
  color: white;
}

h4 {
  font-size: 2.3em;
  font-weight: 350;
  color: #5c1bb7;
}

h5 {
  font-size: 1.3em;
  color: #760076;
}

input {
  margin-bottom: 25px;
}

.navbar {
  width: 83%; 
  margin-left: 8.3%; 
  margin-right: 8.3%; 
  position: absolute; 
  top: 0px; 
  z-index: 9998;
  background: transparent;
  border: none;
  padding-top: .4%;
}

#my_brand {
  font-size: 1.6em;
  color: white;
  padding-left: 2.5%;
}

#my_links{
  margin-right: 1%;
  margin-left: 2%;
}

#my_links li a{
  font-size: 1.4em;
  color: white;
  margin-top: 0;
  padding: 15px 17px;
}

#office {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

#office img{
  width: 100%;
  margin-bottom: -19%;
}

#office_overlay {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  background-color: #5c1bb7;
  opacity: .5;
}

#office_overlay img{
  width: 100%;
  margin-bottom: -19%;
  visibility:hidden;
}

#welcome {
  text-align: center;
  margin-top: 25%;
}

#welcome h1{
  letter-spacing: 1px;
}

#welcome p{
  letter-spacing: 1px;
  color: white;
  margin-bottom: 25px;
}

.btn-primary{
  background-color: #5c1bb7;
  border-color: #5c1bb7;
  padding: 10px 30px;
  font-size: 1.75em;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  -webkit-box-shadow: 0px 4px 0px #4a1c8e;
  -moz-box-shadow:    0px 4px 0px #4a1c8e;
  box-shadow:         0px 4px 0px #4a1c8e;
}

.second_section {
  background-color: #5c1bb7; 
  padding: 23% 2% 5% 2%;
}

#layers_img {
  max-width: 113%;
  margin-top: 7%;
  padding-right: 10px;
}

.secondary_text{
  color: white;
  font-size: 1.55em;
  line-height: 145%;
  padding-right: 5%;
  margin-bottom: 15px;
}

.secondary_text_wrapper {
  padding-left: 4%;
}

.secondary_text_wrapper h2 {
  margin: 3px 0px 15px 2px;
}

.btn-outline-secondary {
  color: white;
  border: solid 1px white;
  background-color: transparent;
  padding: 12px 22px;
  font-size: 1.8em;
  margin-top: 10px;
}

.dark_background {
  background-color: #222222;
}

.section_text_wrapper {
  margin-top: 20%;
}

.tertiary_text{
  color: grey;
  font-size: 1.75em;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  line-height: 160%;
  margin-top: 3%;
  padding: 0 10px 150px 10px;
}

.with_icons .fa {
  color: #5c1bb7;
  font-size: 3em;
  display: block;
}

.quad_text {
  color: grey;
  font-size: 1.2em;
  line-height: 150%;
  margin-top: 3%;
  padding: 0 10px 100px 10px;
}

#team_head {
  color: black;
}

.team_text{
  font-size: 1.75em;
  color: #444;
  font-weight: 200;
  line-height: 160%;
  margin-top: 3%;
  padding: 0 10px 150px 10px;
}

.v_align {
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
}

.low-padding {
   padding: 0px 5px !important;
}

.teammember_text {
  font-size: 1.40em;
  line-height: 160%;
  font-weight: 500;
}

.with_small_icons .fa {
  color: #5c1bb7;
  font-size: 2em;
  display: block;
}

.clients_row{
  background-color: #5c1bb7;
  padding: 35px 0px 25px 0px;
}

.form-control {
  font-size: 1.3em;
}

#contact_form {
  width: 95%
}

textarea {
  font-size: 1.3em;
  width: 100%;
  padding-bottom: 10px;
}

.contact_text_wrapper {
  margin-top: 10%;
}

.contact_head {
  margin-top: 0px;
}

.contact_info {
  font-size: 1.5em;
  color: grey;
}

#contact_icon {
  font-size: 2em;
  color: grey;
  margin-right: 5px;
}

.footer_row {
  background-color: black; 
  padding-top: 50px
}

.foothead{
  font-size: 1.95em;
}

li a {
  font-size: 1.5em;
  color: grey;
}

.fill_container {
  width: 100%;
}

#copyright {
  color: grey; 
  font-size: 1.5em;
}

.add_100px_bottom {
  padding-bottom: 100px;
}

.add_50px_bottom {
  padding-bottom: 50px;
}

